@lm:registry=http://nexus.scm321.com/repository/npm-private/
//nexus.scm321.com/repository/npm-private/:_auth="dWZkZXZlbG9wZXI6MTIzNDU2"

@blm:registry=http://nexus.scm321.com/repository/npm-private/
//nexus.scm321.com/repository/npm-private/:_auth="dWZkZXZlbG9wZXI6MTIzNDU2"
